html {
	box-sizing: border-box;
}

*, 
:after, 
:before {
	box-sizing: inherit;
}

body {
	font-family: 'Prata', serif;
	color: #f9fcfc;
} 


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.col--lg-1 { width: 25%; }
.col--lg-2 { width: 50%; }
.col--lg-3 { width: 75%; }
.col--lg-4 { width: 100%; }

.col--lg-pl {
	padding-left: 90px;
}

/*header*/

.logo {
	margin-top: 33px;
}

.header__logo {
	font-size: 30px;
	text-decoration: none;
	color: #eec643;
}


.ml-auto {
	margin-left: auto;
}

/* desktop menu here */

.header__nav {
	padding-top: 44px;
}

.header__logo {
	font-size: 30px;
	color: #eec643;
}

.header__list {
	list-style: none;
	display: flex;
}

.header__link {
	margin-left: 14px;
	color: #021a23;
	text-transform: uppercase;
	font-size: 14px;
	
}

.menu {
	display: none;
}

.promo__title--mobile-on {
	display: none;
}

.promo__title {
	width: 500px;
	margin-top: 200px;
	letter-spacing: 2px;
}

.promo__text {
	width: 420px;
	line-height: 1.5em;
}

.promo__form-title {
	color: #23373c;
}

.promo__form-txt {
	max-width: 100%;
	color: #132930;
	padding-bottom: 35px;                      
	line-height: 1.5em;
}

.promo {
	background: url(../img/main-bg.png) no-repeat;
	background-size: cover;
	min-height: 700px;
}

/*			form setup
==========================================*/

select {
	display: block;
	width: 100%;
	border: hidden;
	border-bottom: 1px solid black;
}

input {
	width: 100%;
	border: hidden;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}


.promo__form {
	border: 1px solid #021a23;
	background-color: white;
	opacity: 0.8;
	margin-top: 125px;
}

.form__wrap {
	padding: 27px;
}

.form__btn {
	width: 100%;
	height: 53px;
	margin-top: 20px;
	background-color: black;
	border: 2px solid black;
	color: white;
	text-transform: uppercase;
	transition: ease all;
}

.form__btn:hover {
	background-color: #363636;
	border: 1px solid black;
}

.modal__form {
	display: none;
}

.modal__dtn--contacts-section {
	display: none;
}

/*directions section*/

.directions {
	padding-top: 70px;
}

.directions__card-inner {
	padding-top: 7px;
	padding-left: 23px;
	padding-right: 10px;

}

.directions__title-wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 25px;
	width: 6%;
	border-left: 2px solid #eec643;
	border-right: 2px solid #eec643;
}

.directions__title {
	position: absolute;
	bottom: 0px;
	left: 10px;
	display: flex;
	transform: rotate(-90deg);
	transform-origin: 0 0 0;
	color: #021a23;
	white-space: nowrap;
	font-size: 40px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.directions__card {
	height: 260px;
	margin-bottom: 25px;
	transition: ease all;
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
}

.directions__card:hover {
	background: #eec643;
	opacity: 0.9;
}


.directions__card--guitar {
	background: url(../img/directions_card_img_1.png);
	background-size: cover;
}

.directions__card--vocal {
	background: url(../img/directions_card_img_2.jpg);
	background-size: cover;
}

.directions__card--piano {
	background: url(../img/directions_card_img_3.jpg);
	background-size: cover;
}

.directions__card--lessons {
	background: url(../img/directions_card_img_4.jpg);
	background-size: cover;
}

.directions__card--all {
	background: #eec643;
}


/*features section*/

.features__title {
	padding: 5px;
	color: #021a23;
	font-size: 34px;
	border-top: 2px solid #eec643;
	border-bottom: 2px solid #eec643;
	margin-bottom: 25px;
}

.features__card {
	background: url(../img/advantages_card_img_1.png);
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	height: 400px;
	transition: ease all;
	
}

.features__card--result {
	background: url(../img/advantages_card_img_2.jpg);
	background-size: cover;
}

.features__card--studio {
	background: url(../img/advantages_card_img_3.jpg);
	background-size: cover;
	margin-top: 50px;
	height: 477px;
}

.features__card-inner {
	padding: 25px;
}

.features__card-title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 15px;
}

.features__card-text {
	color: #f9fcfc;
}

.features__card:hover {
	background: #eec643;
	opacity: 0.9;
}

.promo__form--in-features {
	margin-top: 45px;
	border: 2px solid #eec643;

}

.features__form-txt {
	padding-bottom: 160px;
}

.features__form-select {
	margin-bottom: 50px;
}

.features__form-btn {
	background: #eec643;
	border: 2px solid #eec643;
}

.features__form-input {
	border: none;
	border-bottom: 2px solid #eec643;
}

/*videos section*/

.videos {
	margin-top: 40px;
}

.videos--switcher {
	display: none;
}

.video__card {
	display: block;
	font-family: 'PT Sans', sans-serif;
	background: url(../img/video_card_img_1.jpg);
	background-size: cover;
	max-width: 100%;
	color: #f9fcfc;
	text-decoration: none;
	padding-left: 15px;
}

.video__card-title {
	margin-top: 17px;
	margin-bottom: 0px;
}

.video__card-text {
	margin-top: 5px;
	padding-bottom: 7px;
}

.video__card-title--first {
	margin-top: 0;
	margin-bottom: 8px;
	padding-top: 15px;
	font-size: 26px;
}

.video__play {
	display: block;
	margin: 0 auto;
	padding-top: 55px;
}

.video__play--first {
	padding-top: 100px;
	padding-bottom: 230px;
}

.video__card-text--first {
	width: 213px;
}

.video__card-text {
	/* width: 70%; */
}

.video__card--violin {
	background: url(../img/video_card_img_2.jpg);
}

.video__card--summer {
	background: url(../img/video_card_img_3.jpg);
}

.video__card--horse {
	background: url(../img/video_card_img_4.jpg)
}
/*contacts section*/ 

.contacts {
	padding-top: 50px;
}

.contacts__title {
	padding-right: 450px;
}

.contacts__info {
	margin-top: 50px;
	margin-left: 15px;
	color: #021a23;
}


/*footer section*/

.footer {
	margin-top: 20px;
}

.footer__logo {
	position: absolute;
	padding-top: 13px;
	color: #eec643;
	text-decoration: none;
}

.footer__list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.footer__item {
	margin-left: 16px;
}

.footer__link {
	text-decoration: none;
	font-size: 12px;
	color: #021a23;
}


/*media*/

@media (max-width: 990px) { 
	
	.container {
		width: 95%;
	}



	.promo__form-txt {
		font-size: 14px;
	}

	.promo__form-title {
		font-size: 16px;
		font-weight: bold;
	}

	.form__wrap {
		padding: 22px;
	}

	.directions__title {
		font-size: 26px;
	}

	.directions__card-text {
		font-size: 14px;
	}

	.col--lg-pl {
		padding-left: 59px;
	}

	

	.col--md-1 { width: 10%; }
	.col--md-2 { width: 20%; }
	.col--md-3 { width: 30%; }
	.col--md-4 { width: 40%; }
	.col--md-5 { width: 50%; }
	.col--md-6 { width: 60%; }	
	.col--md-7 { width: 70%; }	
	.col--md-8 { width: 80%; }	
	.col--md-9 { width: 90%; }	
	.col--md-10 { width: 100%; }			
}






@media (max-width: 540px) {

	.col--sm-1 { width: 25%; }
	.col--sm-2 { width: 50%; }
	.col--sm-3 { width: 75%; }
	.col--sm-4 { width: 100%; }

	/* .main-nav {
		display: none;
	} */

	.promo {
		background: url(../img/bg_mobile.jpg) no-repeat;
		background-size: cover;
	}

	.promo__title--mobile-off {
		display: none;
	}

	.promo__title--mobile-on {
		display: block;
	}

	.header__nav {
		display: none;
	}

	.menu {
		display: block;
	}

	.promo__title {
		font-weight: 400;
		width: 100%;
	}

	.promo__text {
		width: 100%;
	}

	.directions__title-wrap {
		position: relative;
		top: auto;
		border: none;
		width: 85%;
		border-top: 2px solid #eec643;
		border-bottom: 2px solid #eec643;
	}

	.directions__card-title--rotation {
		transform: rotate(-90deg);
		margin-top: 100px;
	}

	.directions__card {
		height: 171px;
		margin-bottom: 15px;
	}

	.directions--order-1 {
		order: 1;
	}

	.directions--order-2 {
		order: 2;
	}

	.directions--order-3 {
		order: 3;
	}

	.directions--order-4 {
		order: 4;
	}

	.directions__title-wrap {
		position: relative;
		top: auto;
		border: none;
		width: 100%;
		border-top: 1px solid #eec643;
		border-bottom: 1px solid #eec643;
	}

	.directions__title {
		display: block;
		position: relative;
		transform: none;
		border: none;
		margin: 10px;
		font-size: 26px;
		font-weight: 700
	}

	.col--lg-pl {
		padding-left: 10px;
		padding-right: 10px;
	}

	.features__card {
		height: 200px;
		margin-bottom: 10px;
	}

	.features__card--studio {
		margin-top: 0;
	}
	
	.form-off {
		display: none;
	}

	.promo__form--in-features {
		display: none;
	}

	.contacts__title {
		font-size: 30px;
		font-weight: 600;
		padding-right: 85px;
		margin-top: 0;
		border-top: 1px solid #eec643;
		border-bottom: 1px solid #eec643;
	}

	.contacts__info {
		margin-top: 20px;
		margin-bottom: 8px;
	}

	
	.modal__btn {
	position: absolute;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f9fcfc;
    width: 90%;
    background: #eec643;
    padding: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 110px;
	}

	.form__desktop {
  		display: none;
  }

   .modal__form {
  		display: block;
  }

  .promo__form {
  	margin-top: 0;
  }

  .modal__dtn--contacts-section {
	position: relative;
	margin-top: 10px;
	margin-bottom: 19px;
	border: none;

}

/* .videos--disabled {
	display: none;
} */

/* .videos__mobile-slider {
	display: block;
} */

.videos--switcher {
	display: block;
}

.videos__card {
	display: block;
	text-decoration: none;
	background: url(../img/video_card_img_1.jpg);
	background-size: cover;
	height: 189px;
	padding: 0px 15px 0px 15px; 
}

.videos__card-title {
	margin: 0;
	color: #f9fcfc;
	font-size: 16px;
	font-weight: bold;
}

.videos__card-text {
	margin-top: 8px;
	color: #f9fcfc;
}

.videos__play {
	margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.videos__card--violin {
	background: url(../img/video_card_img_2.jpg) no-repeat;
	background-size: cover;
}

.videos__card--summer {
	background: url(../img/video_card_img_3.jpg) no-repeat;
	background-size: cover;
}

.videos__card--horse {
	background: url(../img/video_card_img_4.jpg) no-repeat;
	background-size: cover;
}

.videos--switcher-desktop {
	display: none;
}


.slick-prev {
    background: #f0d26c;
	border-radius: 50px;
}

.slick-next {
    background: #f0d26c;
	border-radius: 50px;
}
   
  .menu {
    text-align: right;
    margin-top: 20px;
}

.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}

@media screen and (max-width: 650px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: absolute;
    display: none;
    /*top: 0;*/
    right: 0;
    left: 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

  .footer {
	  display: none;
  }
}