body {
	font-family: 'Prata', serif;
	color: #fff;
} 

select {
	display: block;
}

input {
	border: hidden;
	border-bottom: 1px solid black;

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.col--lg-1 { width: 25%; }
.col--lg-2 { width: 50%; }
.col--lg-3 { width: 75%; }
.col--lg-4 { width: 100%; }

/*header*/

.logo {
	margin-top: 33px;
}

.header__logo {
	font-size: 30px;
	text-decoration: none;
	color: #eec643;
}


.ml-auto {
	margin-left: auto;
}

.main-nav {
	margin-top: 50px;
}

.main-nav__list {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.main-nav__item {
	margin-left: 20px;
}

.main-nav__link {
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #021a23;
}

.promo__title {
	width: 600px;
	margin-top: 200px;
}

.promo__text {
	width: 420px;
}

.promo__form-txt {
	width: 200px;
}

.promo {
	background: url(../img/main-bg.png) no-repeat;
	background-size: 100%;
}











